body {
  padding: 20px;
}

#footer {
  position: relative;
  bottom: 10px;
  left: 0px;
  text-align: center;
  width: 100%;
}

#text {
  font-size: 24px;
  padding: 10px;
}

#author {
  font-size: 22px;
  padding: 5px;
  font-weight: 100;
}

.btn {
  padding: 10px;
  margin: 15px 5px;
}

#quote-box {
  margin: 50px auto 100px auto;
  width: 80vw;
  text-align: center;
}

@media screen and (max-width: 700px) {
  header {
    text-align: center;
  }
}
